/**
 * @file
 * Subtheme specific CSS.
 */

aside {
  nav {
    a.is-active {
      background: aliceblue;
    }
  }
}

.table {
  thead th {
    background-color: var(--bs-gray-dark, #343a40);
    color: #fff;
  }
}

.inprogress {
  background: #007bff !important;
}
.pending {
  background: var(--bs-gray-500) !important;
}
.review {
  background: #ffc107 !important;
}
.completed,
.resolved {
  background: #28a745 !important;
}
.testing {
  background: #17a2b8 !important;
}
.hold {
  background: #6c757d !important;
}

.container-tag {
  border-top: 1px solid var(--bs-gray-500);
  border-bottom: 1px solid var(--bs-gray-500);
  border-right: 1px solid var(--bs-gray-500);
  &-1 {
    //temple
    border-left: 10px solid var(--bs-red) !important;
  }
  &-5 {
    //theocratic
    border-left: 10px solid var(--bs-green) !important;
  }
  &-9 {
    //bethel
    border-left: 10px solid var(--bs-teal) !important;
  }
}
.tag- {
  &1 {
    //temple
    background: var(--bs-red) !important;
  }
  &5 {
    //theocratic
    background: var(--bs-green) !important;
  }
  &9 {
    //bethel
    background: var(--bs-teal) !important;
  }
}

.btn-wrap {
  & > a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  &-lg {
    & > a {
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      line-height: 1.5;
      border-radius: 0.3rem;
    }
  }
  &-primary {
    & > a {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
      &:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
      }
    }
  }
}
